{% load staticfiles %}

<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<!-- favicon -->
		<!-- TODO -->

		<!-- JS -->
		{% block js %}{% endblock %}

		<!-- Style Sheets -->
		<link rel="stylesheet" type="text/css" 
				href="{% static "css/gen.css" %}"/>
		{% block css %}{% endblock %}

		<!-- Page Title -->
		{% if pagetitle %}
		<title>{{ pagetitle }} - PCnstein</title>
		{% else %}
		<title>PCnstein</title>
		{% endif %}
		
	</head>

	<body>

		<div id="head_wrapper">
			<div id="head_user">
				<div id="head_username">
					{% if user.username %}
					Connected as: {{ user.username }}
					{% else %}
					You are not logged in
					{% endif %}
				</div>

				<div id="head_userlogin">
					{% if user.username %}
					<a href="/logout">Logout</a>
					{% else %}
					<ul>
						<li><a href="/login">Login</a></li>
						<li>or</li>
						<li><a href="/register">Register</a></li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- Main content wrapper -->
		<div id="content_wrapper">

			<div id="navbar">
				<div id="navbar_list_wrapper">
					<ul>
						<li><a href="/components">COMPONENTS</a></li>
						<li><a href="/manufacturers">MANUFACTURERS</a></li>
						<li><a href="/categories">CATEGORIES</a></li>
						<li><a href="/os">OPERATING SYSTEMS</a></li>
						{% if user.is_staff %}
						<li><a href="/admin">MODIFY DATABASE</a></li>
						{% endif %}
					</ul>
				</div>
			</div>

			<div id="content">
				{% block content %}{% endblock %}
			</div>

		</div>
	</body>

</html>