{% extends "base.html" %}

{% load staticfiles %}

{% block js %}

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" 
				href="{% static "css/component.css" %}"/>
{% endblock %}

{% block content %}
	
<div id="component_head">

	<div id="component_img">
		<img src="{% static "img/{{ component.img }}" %}"/>
	</div>

	<div id="component_ref">
		<p>
			Ref: {{ component.ref }} 
			<br/>
			Name: {{ component.name }}
			<br/>			
			<img class="modify_icon" src="{% static "icons/edit.png" %}" alt="Delete component"/>		
			<img class="modify_icon" src="{% static "icons/delete.png" %}" alt="Edit component"/>
		</p>
		
	</div>

</div>

<div id="component_desc">
	<ul>
		<li><span>Category: <a href="{{ component.category.link }}">{{ component.category.name }}</a></span></li>
		<li><span>Manufacturer: <a href="{{ component.manufacturer.link }}">{{ component.manufacturer.name }}</a></span></li>
		<li><span>Average Price: {{ component.avgprice }} €</span></li>
		<li><span>Supported By:</span></li>
			<ul>
				{% for sb in component.supportedby %}
				<li><span>
						  <a href="{{ sb.link }}">{{ sb.name }}</a>
						  </br>
						  From version: {{ sb.minversion }} 
						  to: {{ sb.maxversion }}
				</span></li>
				{% endfor %}
			</ul>

		<li><span>Description:</span></li>
			<ul>
				{{ component.desc }}
			</ul>
	</ul>
</div>

{% endblock %}
