{% extends "base.html" %}

{% load staticfiles %}

{% block js %}
<script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" 
				href="{% static "css/tablelist.css" %}"/>
{% endblock %}

{% block content %}
	
	{% if cinfo|length > 0 %}
	<table class="tablelist sortable">
		<tr>
			<th></th> <!-- Img -->
			<th>Ref</th>
			<th>Name</th>
			<th>Price</th>
			<th>Manufacturer</th>
			<th>Category</th>
		</tr>
	{% endif %}

	{% for comp in components %}
		<tr>
			<td><img src="/{{ comp.img }}"/></td>
			{% for link in comp.links %}
				{% if link.rel == 'self' %}
			<td><a href="{{ link.href }}">{{ comp.ref }}</a></td>
				{% endif %}
			{% endfor %}
			<td>{{ comp.name }}</td>
			<td>{{ comp.avgprice }} €</td>
			{% for link in comp.links %}
				{% if link.rel == 'manufacturer' %}
			<td><a href="{{ link.href }}">{{ comp.manufacturer }}</a></td>
				{% endif %}
			{% endfor %}
			{% if not comp.links.2 %}
			<td />
			{% endif %}
			<td>{{ comp.category }}</td>
		<tr>
	{% endfor %}

	{% if cinfo|length > 0 %}
	</table>
	{% endif %}

{% endblock %}
