{% extends "base.html" %}

{% load staticfiles %}

{% block js %}
<script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" 
				href="{% static "css/tablelist.css" %}"/>
{% endblock %}

{% block content %}
	
	{% if cinfo|length > 0 %}
	<table class="tablelist sortable">
		<tr>
			<th></th> <!-- Img -->
			<th>Ref</th>
			<th>Name</th>
			<th>Price</th>
			<th>Manufacturer</th>
			<th>Category</th>
		</tr>
	{% endif %}

	{% for comp in components %}
		<tr>
			<td><img src="/{{ comp.img }}"/></td>
			<td><a href="{{ comp.link.href }}">{{ comp.ref }}</a></td>
			<td>{{ comp.name }}</td>
			<td>{{ comp.avgprice }} €</td>
			<td>
			{% if comp.manufacturer %}
				<a href="{{ comp.manufacturer.link }}">{{ comp.manufacturer.name }}</a>
			{% endif %}
			</td>
			<td>
			{% if comp.category %}
				<a href="{{ comp.category.link }}">{{ comp.category.name }}</a>
			{% endif %}
			</td>
		<tr>
	{% endfor %}

	{% if cinfo|length > 0 %}
	</table>
	{% endif %}

	{% if user.username %}
	<br>
	<a href='../create_component'> CREATE COMPONENT</a>
	{% endif %}

{% endblock %}
