{% extends "base.html" %}

{% load staticfiles %}

{% block js %}
<script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" 
				href="{% static "css/tablelist.css" %}"/>
{% endblock %}

{% block content %}
	

	{% if os_info|length > 0 %}
	<table class="tablelist sortable">
		<tr>
			<th>Name</th>
			<th>Manufacturer</th>
		</tr>
	{% endif %}

	<tr> 
		<td>{{ os.name }}</td>
		<td><a href="{{ os.manufacturer.link }}">{{ os.manufacturer.name }}</a>	</td>
	<tr>

	{% if os_info|length > 0 %}
	</table>
	{% endif %}

{% endblock %}