{% extends "base.html" %}

{% load staticfiles %}

{% block js %}
<script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" 
				href="{% static "css/tablelist.css" %}"/>
{% endblock %}

{% block content %}
	

	{% if os_info|length > 0 %}
	<table class="sortable tablelist">
		<tr>
			<th>Name</th>
			<th />
		</tr>
	{% endif %}

	{% for os in oss %}
		<tr> 
			<td><a href="{{ os.link.href }}">{{ os.name }}</a></td>
			<td><a href="/{{ modify_url }}/{{ os.name }}">MODIFY</a></td>
		<tr>
	{% endfor %}

	{% if os_info|length > 0 %}
	</table>
	{% endif %}

	{% if user.username %}
	<br>
	<a href="/{{ create_url }}"> CREATE OS</a>
	{% endif %}

{% endblock %}