{% extends "base.html" %}

{% load staticfiles %}

{% block js %}
<script type="text/javascript" 
		src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" 
		src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript"
		src="{% static "js/geodata.js" %}"></script>

<script type="text/javascript">
	// $(document).ready(
	// 	function() {
	// 		var countries = [
	// 			"Spain",
	// 			"España",
	// 			"LAPAO",
	// 			"United States",
	// 			"Patata",
	// 			"Col",
	// 			"Nap"
	// 		];

	// 		$("#id_userprofile-country").autocomplete( {source : countries});
	// 	}
	// );

	$(document).ready(
		function() {
			getGeoInfoByIP( function(geodata) {
				// $("#id_userprofile-country").val(geodata.countryName)
				alert(geodata.countryName)
			});
		}
	);
</script>


{% endblock %}

{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block content %}
<div class="ui-widget">
	<form method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in userform %}
			{{ field.label_tag }}:<br/>
			{{ field }}
			{% for error in field.errors %}
			<span class="error_msg">*{{ error }}</span>
			{% endfor %}
			<br/><br/>
		{% endfor %}

		{% for field in userprofileform %}
			{{ field.label_tag }}:<br/>
			{{ field }}
			{% for error in field.errors %}
			<span class="error_msg">*{{ error }}</span>
			{% endfor %}
			<br/><br/>
		{% endfor %}
		<input type="submit" value="Create the account">	
	</form>
</div>

{% endblock %}