{% extends "base.html" %}

{% load staticfiles %}

{% block js %}
<script type="text/javascript" 
		src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" 
		src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript"
		src="{% static "js/geodata.js" %}"></script>

<script type="text/javascript">
	
	function computeClientPosition() {
		// Disable button
		$("#geolocbtn").attr("disabled", "disabled");
		$("#geolocbtn").val('Processing...');


		// Request geo info using client ip
		getGeoInfoByIP( 
			function(geodata) {
				if( !geodata.hasOwnProperty('error') ) {
					$("#id_userprofile-country").val(geodata.country_name);
					$("#id_userprofile-region").val(geodata.region);
					$("#id_userprofile-city").val(geodata.city);
				} 
			// Uncomment the following lines to notify connection errors
			// else {
			// 	alert(geodata.error)
			// }

				// Enable button again
				$("#geolocbtn").removeAttr("disabled");
				$("#geolocbtn").val('Locate me');
			});
	}

	$(document).ready(
		function() {

			// Autocomplete countries
			getDataFromFile("{% static "data/countries.csv" %}", 
							";",
							function(countries) {
								$("#id_userprofile-country").autocomplete(
									{source : countries} );
							});

			// Autocomplete regions (Beta)
			getDataFromFile("{% static "data/regions.csv" %}", 
							";",
							function(regions) {
								$("#id_userprofile-region").autocomplete(
									{source : regions} );
							});

			// Uncoment the next line to autofill localization fields
			// computeClientPosition();
			
		}
	);

</script>


{% endblock %}

{% block css %}
<link rel="stylesheet" 
	  href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
{% endblock %}

{% block content %}
<div class="ui-widget">
	<form method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in userform %}
			{{ field.label_tag }}:<br/>
			{{ field }}
			{% for error in field.errors %}
			<span class="error_msg">*{{ error }}</span>
			{% endfor %}
			<br/><br/>
		{% endfor %}

		{% for field in userprofileform %}
			{{ field.label_tag }}:<br/>
			{{ field }}
			{% for error in field.errors %}
			<span class="error_msg">*{{ error }}</span>
			{% endfor %}
			<br/><br/>
		{% endfor %}
		<input type="submit" value="Create the account">	
		<input id="geolocbtn" type="button" value="Locate me"
				onclick=computeClientPosition();>
	</form>
</div>

{% endblock %}