@charset: "UTF-8";


#manufacturer_title {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#manufacturer_desc {
	padding: 0.2em 1em 0.2em 1em;
	background-color: #666;
	border-radius: 15px;
	font-size: 1.2em;
}

#manufacturer_desc p {
	white-space: pre-line;
	text-align: justify;
}